<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Nebula</title>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
    <link rel="stylesheet" href="../public/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/socket.io/socket.io.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>
  <body>
    <button id="back" onclick="gotToHome()" style="display: none">BACK</button>
    <!-- <img src="../public/logo.png" id="img" alt=""> -->
    <audio id="play" src=""></audio>
    <section id="questions">
      <div id="1"><p>What is WV Connect 2024?</p></div>
      <div id="2">
        <p>
          What can I expect at the Vibes of Rajasthan Experiential Sundowner?
        </p>
      </div>

      <div id="3">
        <p>Where is the Summit Inauguration taking place on Day 2?</p>
      </div>
      <div id="4">
        <p>
          Can I attend the Entertainment Evening even if I missed the earlier
          sessions?
        </p>
      </div>

      <div id="5">
        <p>
          Are there any special arrangements for transportation to and from the
          event venues?
        </p>
      </div>
      <div id="6">
        <p>What is 101 Weddings- A Celebration of the Wedding Workforce?</p>
      </div>
      <div id="7">
        <p>
          What are the networking opportunities available at WV Connect 2024?
        </p>
      </div>
      <div id="8"><p>Can I bring a guest to the Entertainment Evening?</p></div>
      <div id="9">
        <p>
          What safety measures are in place for WV Connect 2024 amid COVID-19
          concerns?
        </p>
      </div>
      <div id="10">
        <p>
          Will there be any exhibition or showcase of wedding industry products
          and services?
        </p>
      </div>
      <div id="11">
        <p>
          Can I participate in the WV Awards Night & Concert if I am not
          nominated for an award?
        </p>
      </div>
      <div id="12">
        <p>Is there an app for WV Connect 2024?</p>
      </div>
      <div id="13">
        <p>What is EY?</p>
      </div>
      <div id="14"><p>What are the WV Awards?</p></div>
      <div id="15">
        <p>Who are the alumni of WV Awards?</p>
      </div>
    </section>
    <div id="nextPage">
      <div onclick="toggleSections()">Theme & Dress Code</div>
    </div>

    <section id="questions2" style="display: none">
      <div id="16">
        <p>Dress code for Day 1 of Rajasthasi Vibes Sundowner</p>
      </div>
      <div id="17"><p>Dress code for the Conference on Day 2?</p></div>
      <div id="18">
        <p>Dress code for the 101 Weddings?</p>
      </div>
      <div id="19">
        <p>Dress Code for the Entertainment Evening?</p>
      </div>
      <div id="20">
        <p>Color theme for any of the event days at WV Connect 2024?</p>
      </div>
      <div id="21">
        <p>Dress code for Awards Night?</p>
      </div>
      <div id="22">
        <p>Is there a dress code for the VVIP Networking Dinner?</p>
      </div>
      <div id="23"><p>What is the theme of the event?</p></div>
      <div id="24">
        <p>What is the itinerary for Day 1 of WV Connect 2024?</p>
      </div>

      <div id="25">
        <p>What are the key events on Day 2 of WV Connect 2024?</p>
      </div>

      <div id="26"><p>What is happening on Day 3 of WV Connect 2024?.</p></div>
    </section>
    <div id="goBack" style="display: none">
      <div onclick="toggleSections()">Know more</div>
    </div>

    <!-- <button  id="first" onclick="showQuestions()"class="">KNOW MORE</button> -->
    <!-- animate__animated animate__pulse animate__infinite -->
    <!-- <button    id="second" onclick="startRecording()"  class="">CHAT WITH LILY</button> -->
    <div style="display: none" class="container" role="status" id="loading">
      <span class="spinner spinner--dotted"></span>
    </div>
    <section id="main" style="display: none">
      <div id="listen">
        <div id="animation">
          <div style="text-align: center; padding: 20px" id="load">
            <h1>Listening...</h1>
            <img id="mic" src="../public/mic.gif" alt="" />
          </div>
        </div>

        <div id="textbox">
          <div id="border">
            <div id="voiceData"></div>
            <div id="voiceData2"></div>
          </div>
        </div>
      </div>

      <div id="sub">
        <button
          id="stop"
          onclick="stopRecording()"
          class="animate__animated animate__backInRight"
        >
          Get Answer
        </button>
        <button
          id="clear"
          onclick="clearText()"
          class="animate__animated animate__backInRight"
        >
          Clear
        </button>
        <button
          id="home"
          onclick="gotToHome()"
          class="animate__animated animate__backInRight"
        >
          Home
        </button>
        <button
          id="ask"
          onclick="clearText()"
          class="animate__animated animate__backInRight"
        >
          Ask Again
        </button>
      </div>
    </section>

    <!-- LANGUAGES -->
    <script src="../public/js/languages.js"></script>
    <!-- SCRIPT -->
    <script src="../public/js/main.js"></script>
    <script>
      // function toggleSections() {
      //   document.getElementById("questions").style.display = "none";
      //   document.getElementById("questions2").style.display = "grid";
      //   document.getElementById("nextPage").style.display = "none";
      // }
      // function toggleSections2() {
      //   document.getElementById("questions").style.display = "flex";
      //   document.getElementById("questions2").style.display = "none";
      //   document.getElementById("goBack").style.display = "block";
      //   // location.reload()

      // }

      function toggleSections() {
        var goBackSection = document.getElementById("goBack");
        const nextPage=document.getElementById("nextPage")
        nextPage.addEventListener("click",()=>{
          document.getElementById("questions").style.display = "none";
          document.getElementById("questions2").style.display = "grid";
          goBackSection.style.display = "block";
          nextPage.style.display="none"

        })
        goBackSection.addEventListener("click",()=>{

          document.getElementById("questions").style.display = "flex";
          document.getElementById("questions2").style.display = "none";
          goBackSection.style.display = "none";
          nextPage.style.display="block"
        })
        
      }
    </script>
  </body>
</html>
