@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: aliceblue;
  font-family: 'Poppins', sans-serif;
}

#stop {
  position: absolute;
  bottom: 10%;
}

#voiceData {
  width: 50%;
  height: auto;
  font-size: 16px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20%;
  left: 20%;
}

#voiceData2 {
  width: 50%;
  height: auto;
  font-size: 26px;
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: 25%;
  left: 20%;
}

.listening-animation {
  letter-spacing: 8px;
  font-size: 24px;
  font-weight: bold;
  animation: listening-animation 1.5s infinite;
}

.dots {
  opacity: 0;
  animation: dot-animation 1s infinite;
}

@keyframes listening-animation {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes dot-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Keyframes Spin */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Spinner */
.spinner {
  margin-right: 10rem;
  --spinner-color: black;
  aspect-ratio: 1/1;
  border-radius: 50%;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.spinner--dotted {
  width: 5rem;
  border: 0.5rem dotted var(--spinner-color);
  display: block;
  animation-duration: 5s;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
  
  /* Adjust other styles as needed for mobile and tablet screens */
  
  #voiceData,
  #voiceData2 {
    width: 80%; /* Adjust input width for better fit on small screens */
    left: 10%;
    font-size: 12px; 
  }
}
