@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  color: #000;
  font-family: "Poppins", sans-serif;
  /* background: linear-gradient(to right, #fff, #98d8d1); */

}

/* Create a linear gradient background for the button */
#first {
  background-color: #C3CFDD;
  border: none;
  color: #000;
  padding: 30px 80px;
  /* border-radius: 15px; */
  cursor: pointer;
  font-size: 32px;
}

#second {
  background-color: #ada6bb;
  border: none;
  color: #000;
  padding: 30px 80px;
  /* border-radius: 15px; */
  cursor: pointer;
  font-size: 32px;
}


#clear , #home , #ask, #stop {
  background-color: #c3cfdd;
  border: none;
  color: #000;
  padding: 25px 40px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  width: 250px;
}
#voiceData {
  width: 90%;
  font-size: 16px;
  border: none;
  background-color: transparent;
  text-align: center;
  padding: 20px 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  border: 1px solid black;
}

#voiceData2 {
  width: 90%;
  height: 50vh;
  font-size: 28px;
  border: none;
  background-color: transparent;
  text-align: center;
  border-radius: 20px;
  padding: 20px 20px;
  overflow: auto;
  border: 1px solid black;
}

#border{
  /* border: 1px solid black; */
  padding: 30px 0 30px 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Style the scrollbar track */
#voiceData2::-webkit-scrollbar {
  width: 10px; /* Adjust the scrollbar width as needed */
}

/* Style the scrollbar track */
#voiceData2::-webkit-scrollbar-track {
  background: transparent; /* Set a transparent background for the scrollbar track */
}

/* Style the scrollbar thumb */
#voiceData2::-webkit-scrollbar-thumb {
  background: transparent; /* Set a transparent color for the scrollbar thumb */
  border-radius: 10px; /* Add rounded corners to the scrollbar thumb */
}
.listening-animation {
  letter-spacing: 8px;
  font-size: 24px;
  font-weight: bold;
  animation: listening-animation 1.5s infinite;
}

.dots {
  opacity: 0;
  animation: dot-animation 1s infinite;
}

#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#listen {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
}
#textbox{
  padding: 50px;
  width: 40vw;
  color: #000;
}
#animation{
  width: 60vw;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
#back{
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  background-color: #c3cfdd;
  border: none;
  color: #000;
  padding: 15px 10px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  width: 100px;
}
#sub {
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: #82b069; */
  color: aliceblue;
}
#questions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  height: 90%;
  width: 80%;
  padding-top: 200px;
}

#questions > div {
  text-align: center;
  font-weight: bold;
  flex: 0 0 calc(63.33% - 20px); /* Three divs in an odd row with margin between them */
  padding: 10px;
  border: 2px solid #ccc;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: white;
}

/* Create an even row with 2 divs */
#questions > div:nth-child(3n + 1), /* First div in each odd row */
#questions > div:nth-child(3n + 2) /* Second div in each odd row */
{
  flex-basis: calc(30% - 20px); /* Two divs in an even row with margin between them */
}

/* Add margin to the last div in each odd row */
#questions > div:nth-child(3n) {
  margin-right: 20px;
}

/* Add margin to the last div in the even row */
#questions > div:nth-child(3n + 2) {
  margin-right: 100px;
}

#img{
  position: absolute;
  top: 0;
  left: 0;
}

video{
  width: 100%;
  height: 1005;
}

#mic{
  width: 300px;
}

/* Keyframes Spin */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loading{
  left: 30vw;
  position: absolute;
}
/* Spinner */
.spinner {
  margin-right: 10rem;
  --spinner-color: black;
  aspect-ratio: 1/1;
  border-radius: 50%;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.spinner--dotted {
  width: 5rem;
  border: 0.5rem dotted var(--spinner-color);
  display: block;
  animation-duration: 5s;
}
